@charset "utf-8";
@media only screen and (max-width:1460px){
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li > div.left	{width:350px;}
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li > div.left					{padding:50px 55px 80px 0px;}
}


/*---Kcl TA---*/
@media only screen and (min-width:1024px) and (max-width:1340px){
	.kcl									{padding:0 35px;}
	.kcl > .kcl_inner h1.kcl_logo a			{background:url('../img/kcl_logo_mo.jpg') no-repeat 0 50% / contain; width:247px; height:46px; display:block;}
	.kcl > .kcl_inner nav button.search		{width:16px; height:16px;}
	.kcl > .kcl_inner nav ul li.main_menu	{padding:0 11px;}
	.kcl > .kcl_inner nav ul li a			{font-size:16px;}

	/*서브메뉴*/
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li > div.right > ul > li > a		{font-size:16px;}
}

@media only screen and (min-width:640px) and (max-width:1023px){
	.header															{padding:0 25px;}
	.kcl															{padding:0 30px;}
	.kcl > .kcl_inner												{height:65px;}
	.kcl > .kcl_inner h1.kcl_logo a									{background:url('../img/kcl_logo_mo.jpg') no-repeat 0 50% / contain; width:227px; height:42px;}
	.kcl > .kcl_inner nav ul.kcl_main								{display:none;}
	.kcl > .kcl_inner nav > .search	> a								{background:url('../img/kcl-search_mo.jpg') no-repeat 50% / contain;  width:18px; height:18px; text-indent:-9999px; display:block;}
	.ham_kcl														{display:block;}
	.search_box														{top:65px;}
}

/*---Kcl MO---*/
@media only screen and (max-width:639px){
	.kcl									{padding:0 19px;}
	.kcl > .kcl_inner						{height:50px;}
	.kcl > .kcl_inner h1.kcl_logo a			{background:url('../img/kcl_logo_mo.jpg') no-repeat 0 50% / contain; width:157px; height:29px;}
	.kcl > .kcl_inner nav ul.kcl_main				{display:none;}
	.kcl > .kcl_inner nav > .search > a		{background:url('../img/kcl-search_mo.jpg') no-repeat 50% 50% / contain; width:18px; height:18px;}
	.ham_kcl								{display:block; margin-right:0px;}
	.ham_kcl a span:nth-child(2)			{top:8px;}
	.ham_kcl a span:nth-child(3)			{top:16px;}

	.search_box								{top:50px;}
	.kcl_mo									{top:136px; width:100%;}
	.kcl_mo_inner							{width:100%; padding:0;}
	.mo_menu								{padding-top:50px;}
	.mo_menu > ul							{border-top:1px solid #eee;}
}