@charset "utf-8";

/*-----------------Tab--------------*/
/*소프트웨어산업협회 랩탑&타블렛*/
@media only screen and (min-width:1024px) and (max-width:1290px){
	.soft				{padding:0 30px; height:90px;}
	.soft_logo a		{background:url('../_img/soft_logo_mo.jpg') no-repeat 50% 50% / 98px; width:238px; height:40px;}
	.soft_inner > nav ul li				{margin:0 22px;}
	.soft_inner > nav ul li a			{font-size:17px;}
	.soft_inner > .right > .search a	{background:url('../_img/soft_search_mo.jpg') no-repeat 50% / 20px; width:22px; height:22px;}
	.soft_inner > .right p.ham_menu		{margin-left:15px;}
}

@media only screen and (min-width:1024px){
	.sub_menu{display: block !important;}
}

/*공공데이터 서브메뉴 min-width:1024px*/
@media only screen and (min-width:1024px) and (max-width:1164px){
	.data > .data_pc nav ul li > ul.drop1							{left: 50%; transform: translateX(-15%);}
	.data > .data_pc nav ul li > ul.drop2							{left: 50%; transform: translateX(-50%);}
	.data > .data_pc nav ul li > ul.drop3							{left: 50%; transform: translateX(-95%);}											
}


/*-------------------------------------TA--------------------------------------*/
@media only screen and (min-width:640px) and (max-width:1023px){
	/*---data---*/
	.header							{padding:0 20px;}
	.data > .data_pc					{height:70px;}
	.data > .data_pc h1.logo		{z-index: 1;}
	.data > .data_pc h1.logo a		{background:url('../_img/data_mo.png') no-repeat 0 50% / 175px; width:180px; height:40px; display:block;}
	.data > .data_pc nav ul li		{margin:0 27px;}
	.data > .data_pc nav ul li a		{font-size:17px;}
	.data > .data_pc .right ul			{display:none;}
	.data > .data_pc .right .ham_menu	{margin-left:0;}
	.data > .data_pc .right .data_ham_menu.active span				{background: #fff;}
	.data > .data_pc nav ul li > ul.dropdown li a					{font-size: 14px;}
	.data > .data_pc nav ul li > ul.drop1							{left: 50%; transform: translateX(-42%);}
	.data > .data_pc nav ul li > ul.drop2							{left: 50%; transform: translateX(-70%);}
	.data > .data_pc nav ul li > ul.drop3							{left: 50%; transform: translateX(-100%);}
	.data_mo									{background: #fff;}
	.top												{height: 70px; display: flex;}
	.mo_top							{height: 70px; padding: 0 25px; background: #06b7eb;}
	.data_mo_inner > ul				{margin: 0; display: block;}
	.data_mo_inner > ul > li > a	{display: flex; justify-content:space-between; align-items: center; font-size: 18px; font-weight: 600; line-height:22px; border-bottom: 1px solid #ccc; padding:18px 25px; position: relative;}
	.data_mo_inner > ul > li > a:after	{transition: transform 0.3s ease;transform: rotate(0deg); display: block; content: ''; background: url('../_img/arrow.jpg') 50% 50% / contain; width: 18px; height: 18px;}
	.data_mo_inner > ul > li > a.rotated:after	{transform: rotate(45deg);}
	.data_mo_inner > ul > li > div.sub_menu		{padding: 15px 25px; position: relative; background: #eee; margin:0; display: none;}

	.sub_menu > ul > li						{margin-bottom: 6px;}
	.sub_menu > ul > li > a					{font-size: 16px; font-weight:500; color:#666}
	.sub_menu > ul > li > a:hover			{text-decoration: underline; text-underline-position: under;}
	
	
	/*---kcl---*/
	.kcl									{padding:0 20px;}
	.kcl > .kcl_inner						{height:56px;}
	.kcl > .kcl_inner h1.kcl_logo a			{background:url('../_img/kcl_logo_mo.jpg') no-repeat 50% / contain; width:165px; height:35px;}
	.kcl > .kcl_inner nav ul				{display:none;}
	.kcl > .kcl_inner nav > .search	> a		{background:url('../_img/search_mo.png') no-repeat 50% / 16px; text-indent:-9999px; display:block;}
	.ham_kcl								{display:block;}

	/*---soft---*/
	.soft				{padding:0 25px; height:70px;}
	.soft_logo a		{background:url('../_img/soft_logo_mo.jpg') no-repeat 0% 50% / 178px; width:188px; height:41px; display:block;}
	.soft_inner > nav				{display:none;}
	.soft_inner > .right > .search a	{background:url('../_img/soft_search_mo.jpg') no-repeat 50% / 18px; width:20px; height:20px; display:block;}
	.soft_inner > .right p.ham_menu		{margin-left:15px; width:23px; height:16px; }
	.soft_inner > .right p.ham_menu a span	{width:100%; height:2px; background:#222; position:absolute;}
	.soft_inner > .right p.ham_menu a span:nth-child(2)	{width:15px; top:7px;right:0;}
	.soft_inner > .right p.ham_menu a span:nth-child(3)	{width:15px; top:14px;right:0;}
}



/*---Kcl TA---*/
@media only screen and (min-width:1024px) and (max-width:1340px){
	.kcl									{padding:0 30px;}
	.kcl > .kcl_inner h1.kcl_logo a			{background:url('../_img/kcl_logo_mo.jpg') no-repeat 0 50% / 210px; width:220px; height:40px; display:block;}
	.kcl > .kcl_inner nav button.search		{width:16px; height:16px;}
	.kcl > .kcl_inner nav ul li				{margin: 0 15px;}
	.kcl > .kcl_inner nav ul li a			{font-size:16px;}
	.soft_logo a							{background:url('../_img/soft_logo_mo.jpg') no-repeat 0 50% / 206px; width:210px; height:40px; display:block;}
}


/*-------------------------------------MO--------------------------------------*/
@media only screen and (max-width:639px){
	/*---data---*/
	.data							{padding:0 15px 0 10px;}
	.data > .data_pc				{height:56px;}
	.data > .data_pc h1.logo		{z-index: 1;}
	.data > .data_pc h1.logo a		{background:url('../_img/data_mo.png') no-repeat 50% / contain; display:block; width:150px; height:40px;}
	.data > .data_pc nav			{display:none;}
	.data > .data_pc .right ul		{z-index: 2; display: none;}
	.data > .data_pc .right .data_ham_menu.active span				{background: #fff;}
	.data_mo						{background: #fff;}
	.data_mo_inner > ul				{display: block; margin-top:0;}
	.top							{height: 56px; display: flex;}
	.top > ul > li > a				{font-size: 15px;}
	.mo_top							{height: 56px; padding: 0 18px; background: #06b7eb;}

	.data_mo_inner > ul				{margin: 0; display: block;}
	.data_mo_inner > ul > li > a	{display: block; font-size: 16px; font-weight: 600; line-height:20px; border-bottom: 1px solid #ccc; padding:15px 20px; position: relative;}
	
	.data_mo_inner > ul > li > div.sub_menu		{padding: 15px 20px; position: relative; background: #eee; margin:0; display: none;}

	.sub_menu > ul > li						{margin-bottom: 5px;}
	.sub_menu > ul > li > a					{font-size: 15px; font-weight:500; color:#666;}
	.sub_menu > ul > li > a:hover			{text-decoration: underline; text-underline-position: under;}
	
	/*---Kcl---*/
	.kcl									{padding:0 16px;}
	.kcl > .kcl_inner						{height:50px;}
	.kcl > .kcl_inner h1.kcl_logo a			{background:url('../_img/kcl_logo_mo.jpg') no-repeat 50% 50% / contain; width:150px; height:28px;}
	.kcl > .kcl_inner nav ul				{display:none;}
	.ham_kcl								{display:block; margin-right:0px;}
	.ham_kcl a span:nth-child(2)			{top:8px;}
	.ham_kcl a span:nth-child(3)			{top:16px;}

	/*---soft---*/
	.soft									{padding:0 15px; height:55px;}
	.soft_inner > nav						{display:none;}
	.soft_logo a							{background:url('../_img/soft_logo_mo.jpg') no-repeat 50% 50% / contain; width:155px; height:30px; display:block;}
	.soft_inner > .right > .search a		{background:url('../_img/soft_search_mo.jpg') no-repeat 50% 2px / contain; display:block; width:18px; height:21px;}
	.soft_inner > .right p.ham_menu			{margin-left:10px; width:23px; height:16px;}

	.soft_inner > .right p.ham_menu a span	{width:100%; height:2px; background:#222; position:absolute;}
	.soft_inner > .right p.ham_menu a span:nth-child(2)	{width:15px; top:7px;right:0;}
	.soft_inner > .right p.ham_menu a span:nth-child(3)	{width:15px; top:14px;right:0;}

}


