@charset "utf-8";
@media only screen and (max-width:1460px){
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li > div.left	{width:350px;}
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li > div.left					{padding:50px 55px 80px 0px;}
}

@media only screen and (min-width:1024px){
	.mo_kcl		{display: none;}
}


/*---Kcl TA---*/
@media only screen and (min-width:1024px) and (max-width:1340px){
	.kcl									{padding:0 35px;}
	.kcl > .kcl_inner h1.kcl_logo a			{background:url('../_img/kcl_logo_mo.jpg') no-repeat 0 50% / contain; width:247px; height:46px; display:block;}
	.kcl > .kcl_inner nav button.search		{width:16px; height:16px;}
	.kcl > .kcl_inner nav ul li.main_menu	{padding:0 11px;}
	.kcl > .kcl_inner nav ul li a			{font-size:16px;}

	/*서브메뉴*/
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li								{height:200px;}
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li::before						{background: url('../_img/back_mo.png') no-repeat 50% / contain; display: block; content: ''; width: 355px; height: 69px; opacity: 0.2; right: 60px; bottom: 10px; position: absolute;}
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li > div.right > ul > li > a		{font-size:16px;}
	.kcl > .kcl_inner nav ul li > ul.kcl_sub > li > div.right > ul				{padding:50px 45px 75px 45px;}

	/*검색창*/
	.text_box								{width: 580px;}
	.text_box > button > a					{background: url('../_img/search_X_mo.png') no-repeat 50% / contain; display: block; width: 20px; height: 20px;}
	.search_box								{height: 450px;}
	.search_tit h2							{font-size: 48px; line-height: 44px; margin-bottom: 15px;}
	.search_tit h2:before					{left:-15px;}
	.search_tit span						{font-size: 17px; margin-bottom: 20px;}
	.search input							{font-size: 17px; padding:12px 10px; width: 580px;}
	.search input::placeholder				{font-size: 17px;}
	.search_box > .text_box > .search > a	{transform:translateY(-50%); top: 50%; background: url('../_img/searchbox_kcl_mo.jpg') no-repeat 50% / contain; width: 20px; height: 20px;}
	.tag_box span							{font-size: 16px; margin-bottom: 10px;}
	.link									{height: 35px;}
	.tag_box div a							{font-size: 15px; padding: 4px 12px;}
	
}

@media only screen and (min-width:640px) and (max-width:1023px){
	.header															{padding:0 25px;}
	.kcl															{padding:0 30px;}
	.kcl > .kcl_inner												{height:65px;}
	.kcl > .kcl_inner h1.kcl_logo a									{background:url('../_img/kcl_logo_mo.jpg') no-repeat 0 50% / contain; width:227px; height:42px;}
	.kcl > .kcl_inner nav ul.kcl_main								{display:none;}
	.kcl > .kcl_inner nav > .search	> a								{background:url('../_img/kcl-search_mo.jpg') no-repeat 50% / contain;  width:18px; height:18px; text-indent:-9999px; display:block;}
	.ham_kcl														{display:block;}

	/*검색창*/
	.text_box > button > a					{background: url('../_img/search_X_mo.png') no-repeat 50% / contain; display: block; width: 20px; height: 20px;}
	.text_box								{width: 500px;}
	.search_box								{height: 420px;}
	.search_tit h2							{font-size: 42px; line-height: 40px; margin-bottom: 10px;}
	.search_tit h2:before					{left:-15px;}
	.search_tit span						{font-size: 16px; margin-bottom: 15px;}
	.search input							{font-size: 16px; padding:12px 10px; width: 500px;}
	.search input::placeholder				{font-size: 16px;}
	.search_box > .text_box > .search > a	{transform:translateY(-50%); top: 50%; background: url('../_img/searchbox_kcl_mo.jpg') no-repeat 50% / contain; width: 20px; height: 20px;}
	.tag_box								{margin-top: 20px;}
	.tag_box span							{font-size: 16px; margin-bottom: 10px;}
	.link									{height: 35px;}
	.tag_box div a							{font-size: 15px; padding: 4px 12px; margin-right: 6px;}
}

/*---Kcl MO---*/
@media only screen and (max-width:639px){
	.kcl									{padding:0 19px;}
	.kcl > .kcl_inner						{height:50px;}
	.kcl > .kcl_inner h1.kcl_logo a			{background:url('../_img/kcl_logo_mo.jpg') no-repeat 0 50% / contain; width:157px; height:29px;}
	.kcl > .kcl_inner nav ul.kcl_main				{display:none;}
	.kcl > .kcl_inner nav > .search > a		{background:url('../_img/kcl-search_mo.jpg') no-repeat 50% 50% / contain; width:18px; height:18px;}
	.ham_kcl								{display:block; margin-right:0px;}
	.ham_kcl a span:nth-child(2)			{top:8px;}
	.ham_kcl a span:nth-child(3)			{top:16px;}

	.kcl_mo									{top:136px; width:100%;}
	.kcl_mo_inner							{width:100%; padding:0;}
	.mo_menu								{padding-top:50px;}
	.mo_menu > ul							{border-top:1px solid #eee;}

	/*검색창*/
	.text_box								{width: 290px;}
	.text_box > button > a					{background: url('../_img/search_X_mo.png') no-repeat 50% / contain; display: block; width: 15px; height: 15px;}
	.search_box								{height: 400px;}
	.search_tit h2							{font-size: 42px; line-height: 36px; margin-bottom: 10px;}
	.search_tit h2:before					{left:-15px;}
	.search_tit span						{font-size: 12px; margin-bottom: 10px;}
	.search input							{font-size: 14px; padding:10px; width: 290px;}
	.search input::placeholder				{font-size: 14px;}
	.search_box > .text_box > .search > a	{transform:translateY(-65%); top: 50%; background: url('../_img/searchbox_kcl_mo.jpg') no-repeat 50% / contain; width: 15px; height: 15px;}
	.tag_box								{margin-top: 20px;}
	.tag_box span							{font-size: 15px; margin-bottom: 10px;}
	.link									{height: 30px;}
	.tag_box div a							{font-size: 12px; padding: 2px 10px; margin-right: 2px; margin-bottom:7px;}
	.ham_kcl a:after										{content:''; display:none; width:16px; height:16px; background:url('../_img/search_X_mo.png') no-repeat 50% / 16px;}

	/*햄버거메뉴*/
	.mo_ham                             				  			{height:100%;}
	.mo_kcl                         					  			{position: fixed; top: 50px; width: 100%; z-index: 4;}
	.menu ul.menu_list                      			  			{position: relative; z-index: 5; display: flex; flex-direction: column; width: 45%; background: #0068b7; justify-content: flex-start; padding-top: 0px;}
	.menu ul.menu_list li.ham_submenu                     			{}
	.menu ul.menu_list li.ham_submenu:first-child         			{margin-top: 55px;}
	.menu ul.menu_list li.ham_submenu > a							{font-size: 16px; font-weight:400; color: #fff; background:url('../_img/kcl_plus_mo.png') no-repeat right 0px top 50% / 13px;}
	.menu ul.menu_list li.ham_submenu.active a						{font-weight: 600; background:url('../_img/kcl_minor_mo.png') no-repeat right 0px top 50% / 13px; }
	.menu ul.menu_list li.ham_submenu.design                    	{display: none; background: #68d2d2; margin-bottom: 13px; left: 15px; border-radius: 15px; box-shadow: 1px 5px 7px 0.4px #53628b;position: relative; padding: 12px 20px;}
	.ham_sub                        					  			{display: none; width: 186%; position: absolute; top: 7%; left: 104%; background: #eee;}
	.ham_sub li                     					 			{padding:7px 15px;}
	.menu ul.menu_list li.ham_submenu > .ham_sub li > a   			{font-size:15px; color: #333; transition: 0.3s;}
	.menu ul.menu_list li.ham_submenu > .ham_sub li > a:hover       {color: #0068b7; font-weight: 600;}
	.menu_list > li.ham_submenu:nth-child(6) > .ham_sub		{top: -75%; transform: translateY(-78%);}
	.menu_list > li.ham_submenu:nth-child(7) > .ham_sub		{top: -80%; transform: translateY(-96%);}
	.ham_bg                                                               {background: #efefef;position: absolute;width: 100%;top:0px;z-index:1;}
}

@media only screen and (max-width:432px){
	.menu ul.menu_list li.ham_submenu                     	{display: block; background: #68d2d2; margin-bottom: 10px; left: 15px; border-radius: 15px; box-shadow: 1px 5px 7px 0.4px #53628b;position: relative; padding: 7px 15px;}
	.menu ul.menu_list li.ham_submenu.design                {display: none; background: #68d2d2; margin-bottom: 10px; left: 15px; border-radius: 15px; box-shadow: 1px 5px 7px 0.4px #53628b;position: relative; padding: 7px 15px;}
	.menu_list > li.ham_submenu:nth-child(6) > .ham_sub		{top: -73%; transform: translateY(-67%);}
	.menu_list > li.ham_submenu:nth-child(7) > .ham_sub		{top: -75%; transform: translateY(-82%);}
}