@charset "utf-8";

@media only screen and (min-width:1024px) and (max-width:1290px){
	.soft								{padding:0 40px; height:90px;}
	.soft_logo a						{background:url('../_img/soft_logo_mo.jpg') no-repeat 50% 50% / 98px; width:238px; height:40px;}
	.soft_inner > nav ul li				{margin:0 17px;}
	.soft_inner > nav ul li a			{font-size:17px;}
	.soft_inner > .right > .search a	{background:url('../_img/soft-search_mo.jpg') no-repeat 0 50% / contain; width:20px; height:20px;}
}

@media only screen and (min-width:640px) and (max-width:1023px){
	.soft															{padding:0 35px; height:60px;}
	.soft_logo a													{background:url('../_img/soft_logo_mo.jpg') no-repeat 0% 50% / contain; width:218px; height:33px; display:block;}
	.soft_inner > nav												{display:none;}
	.soft_inner > .right > .search a								{background:url('../_img/soft-search_mo.jpg') no-repeat 50% / contain; width:20px; height:20px; display:block;}
	.soft_inner > .right p.ham_menu									{margin-left:15px;}
	.soft_inner > .right p.ham_menu a span:nth-child(2)				{width:15px; top:8px;right:0;}
	.soft_inner > .right p.ham_menu a span:nth-child(3)				{width:15px; top:16px;right:0;}
}

@media only screen and (min-width:1024px) and (max-width:1340px){
	.soft									{height:76px; padding:0 40px;}
	.soft_logo a							{background:url('../_img/soft_logo_mo.jpg') no-repeat 0 50% / contain; width:218px; height:33px; display:block;}
}

@media only screen and (max-width:639px){
	.soft												{padding:0 18px; height:50px;}
	.soft_inner > nav									{display:none;}
	.soft_logo a										{background:url('../_img/soft_logo_mo.jpg') no-repeat 0 50% / contain; width:165px; height:25px; display:block;}
	.soft_inner > .right > .search a					{background:url('../_img/soft-search_mo.jpg') no-repeat 50% 50% / contain; display:block; width:18px; height:18px;}
	.soft_inner > .right p.ham_menu						{margin-left:10px; width: 22px; height:18px;}
	.soft_inner > .right p.ham_menu a span				{width:100%;background:#222; position:absolute;}
	.soft_inner > .right p.ham_menu a span:nth-child(2)	{width:12px; top:7px;right:0;}
	.soft_inner > .right p.ham_menu a span:nth-child(3)	{width:12px; top:14px;right:0;}
}