@charset "utf-8";

.cont		{height:100%; position:relative;}
.header		{width:100%; background:#fff;}

/*soft header*/
.soft										{padding:0 50px; height:100px;}
.soft_inner									{display:flex; align-items:center; justify-content:space-between; height:100%;}
.soft_logo a								{background:url('../_img/soft_logo.jpg') no-repeat 0 50%; width:238px; height:36px; text-indent:-9999px; display:block;}
.soft_inner > nav							{height:100%;}
.soft_inner > nav > ul						{display:flex; height:100%;}
.soft_inner > nav > ul > li					{margin:0 32px; position:relative;}
.soft_inner > nav > ul > li > a				{font-size:20px; color:#222; font-weight:500; position:relative; display:flex; height:100%; align-items:center; letter-spacing:-0.2px;}
.soft_inner > nav > ul > li > a:before		{content:''; display:block; opacity:0; transition:0.3s; position:absolute; width:100%; height:3px; bottom:28%; background:#2fbcd6;}
.soft_inner > nav > ul > li > a:hover:before{opacity:1;}
.soft_inner > nav > ul > li > a.search-active:hover:before	{content:none;}

.soft_inner > .right								{display:flex; align-items:center;}
.soft_inner > .right > .search a					{position:relative; text-indent:-9999px;background:url('../_img/soft_search.jpg') no-repeat 50% 50% / contain; width:23px; height:23px; display:block;}
.soft_inner > .right > .search a:after				{position:absolute; top:0; content:''; display:none; width:23px; height:23px; background:url('../_img/soft-x.png') no-repeat 50% / 23px;}
.soft_inner > .right > .search a.active:after		{display:block;}
.soft_inner > .right > .search a.active				{background:none;}
.soft_inner > .right p.ham_menu						{width:25px; height:20px; position:relative; margin-left:29px; z-index:1;}
.soft_inner > .right p.ham_menu a					{display:block; height:100%; width:100%;}
.soft_inner > .right p.ham_menu a:after				{position:absolute; top:0; content:''; display:none; width:23px; height:23px; background:url('../_img/soft-x-mo.png') no-repeat 50% / 23px;}
.soft_inner > .right p.ham_menu a.on:after			{display:block;}
.soft_inner > .right p.ham_menu a.on				{background:none;}
.soft_inner > .right p.ham_menu a span				{width:100%; height:4px; background:#222; position:absolute;}
.soft_inner > .right p.ham_menu a span:nth-child(2)	{width:15px; top:8px;right:0;}
.soft_inner > .right p.ham_menu a span:nth-child(3)	{width:15px; top:16px;right:0;}

/*서브메뉴*/
ul.sub					{position:absolute; left:50%; transform:translateX(-50%); display:none;}
ul.sub:before			{content:''; display:block; background:#fff; width:100%; height:100%; position:absolute; padding:12px 0;}
ul.sub > li				{position:relative; padding:12px 20px; text-align:center; width:210px;}
ul.sub > li > a			{color:#333; font-size:17px; font-weight:400; transition:0.3s;}
ul.sub > li > a:hover	{color:#2fbcd6;}

/*검색창*/
.search-box				{display:none; position:absolute; top:100px; left:0; width:100%; padding:100px 50px; border-bottom:1px solid #efefef; background:#fff;}
.mini-box				{max-width:530px; position:relative; width:100%; margin:0 auto;}
.mini-box p.tt			{font-size:42px; font-weight:800; text-align:center; line-height:40px; margin-bottom:40px; color:#2fbcd6;}
.box					{display:flex; flex-direction:row;}
.icon					{width:65px; height:60px; background:#333; border-radius:0 5px 5px 0;}
.icon .icon-box			{width:25px; height:25px; position:relative;}
.icon-box a				{transform:translate(0%, 62%); left:62%; position:absolute; background:url('../_img/soft-icon.png') no-repeat 50% 50% / contain; width:25px; height:25px; display:block;}
.mini-box .box input	{width:100%; height:60px; background:#eee; border:none; border-radius:5px 0px 0px 5px; color:#333; font-size:16px; font-weight:500; padding:20px;}
.mini-box .box input::placeholder	{font-size:16px; font-weight:500; color:#666;}

/*햄버거*/
.all-menu					{background:#fff; position:fixed; left:100%; top:0; width:100%; height:100%; display:none; overflow-y:auto;transition: left 0.3s ease;}
.all-menu.open				{left:0; display:block;}
.all-menu:before			{content:''; display:block; position:absolute; width:1px; height:137%; background:#dfdfdf; left:35vw;}
.all-menu p					{position:absolute; font-size:22px; left:-70px; top:-20px;}
.site-menu					{max-width:1300px; margin:0 auto; padding:120px 30px 0; position:relative; overflow-x:hidden;}
.site-menu ul				{padding:50px 0; position:relative; left:8%; }
.site-menu > ul > li		{position:relative; display:flex; margin-bottom:70px;}										
.site-menu > ul > li > a	{font-size:42px; font-weight:700; color:#333; line-height:45px; max-width:232px; width:100%; margin-right:38px; cursor:default;}
.ham-sub					{display:grid; grid-template-columns:1fr 1fr 1fr 1fr; gap:30px; padding:0 !important;}
.ham-sub > li > a			{font-size:16px; color:#666; font-weight:400; transition:0.3s;}
.ham-sub > li > a:hover		{color:#2fbcd6;}

/*모바일 메뉴
.mo-ham					{width:100%; height:100%; background:#fff; padding:0 35px; position:relative; top:6%; display:block;}
.mo-ham ul				{width:100%;}
.mo-ham > ul > li		{background:#eee; margin-bottom:15px; padding: 18px 20px; border-radius:10px;}
.mo-ham > ul > li > a	{font-size:19px; font-weight:600; color:#333;position:relative; display:block;}
.mo-sub					{padding:15px 0 0; display:none;}
.mo-sub > li			{padding:6px 0;}
.mo-sub > li > a		{font-size:17px; color:#666; font-weight:400; transition:0.3s;}
.mo-sub > li > a:hover	{color:#2fbcd6; font-weight:600;}
.mo-ham > ul > li > a:after	{position:absolute; right:0; top:50%; transform:translateY(-50%); content:''; display:block; background:url('../_img/plus-mo.png') no-repeat 50% / contain; width:20px; height:20px;}
.mo-ham > ul > li > a.opened:after {background: url('../_img/minor-mo.png') no-repeat 50% / contain; width:20px; height:20px;}
*/


.mo-ham						{width:100%; height:100%; background:#fff; padding:80px 35px 0; display:block; position:fixed;}
.mo-inner					{max-width:1400px; width:100%; margin:0 auto; position:relative;}
.mo-inner ul > li			{position:relative; width:100%; max-width:200px; margin-right:35px;}
.mo-inner ul > li:last-child{margin-right:0;}
.mo-inner > ul > li > a		{font-size:27px; display:inline-block; color:#000; font-weight:700;}
.mo-inner > ul > li > a:before{content:''; display:block; width:100%; position:absolute; top:55px; background:#dfdfdf; height:1px;}
.mo-inner > ul						{display:flex;}
ul.mo-sub					{margin-top:60px; color:red; display:block;}
ul.mo-sub > li				{padding:9px 0;}
ul.mo-sub > li > a			{font-size:17px; color:#666; font-weight:400; transition:0.3s;}
ul.mo-sub > li > a:hover	{color:#085283;}

@media only screen and (min-width:1024px) and (max-width:1290px){
	.soft									{padding:0 40px; height:90px;}
	.soft_logo a							{background:url('../_img/soft_logo_mo.jpg') no-repeat 50% 50% / contain; width:238px; height:40px;}
	.soft_inner > nav ul li					{margin:0 17px;}
	.soft_inner > nav ul li a				{font-size:17px;}
	.soft_inner > .right > .search a:after	{background:url('../_img/soft-x-mo.png') no-repeat 0 50% / 20px; width:20px; height:20px;}
	.soft_inner > .right > .search a		{background:url('../_img/soft-search_mo.jpg') no-repeat 0 50% / contain; width:20px; height:20px;}
	.soft_inner > .right p.ham_menu a:after	{background:url('../_img/soft-x-mo.png') no-repeat 50% / 20px; width:20px; height:20px;}
	
	/*메뉴*/
	ul.sub > li			{padding:10px 5px; width:201px;}
	ul.sub > li > a		{font-size:16px !important;}

	/*검색창*/
	.search-box			{top:76px;}
	.icon .icon-box		{top:50%; transform:translateY(-97%);}
	.icon-box a			{background:url('../_img/soft-icon-mo.png') no-repeat 0 50% / 22px; width:22px; height:22px;}

	/*햄버거
	.site-menu ul				{left:10%;}
	.site-menu > ul > li > a	{font-size:25px; max-width:138px; margin-right:0;}
	.ham-sub					{gap:20px;}
	.all-menu:before			{left:28vw;}
	.all-menu p					{font-size:20px;}
*/
	.mo-ham		{padding:80px 30px 0;}
	.mo-inner ul > li	{margin-right:17px; max-width:147px;}
	.mo-inner > ul > li > a	{font-size:22px;}
	.mo-inner > ul > li > a:before{top:48px;}
	ul.mo-sub			{margin-top:40px;}
	ul.mo-sub > li		{padding:6px 0;}
	ul.mo-sub > li > a	{font-size:15px;}
}

@media only screen and (min-width:640px) and (max-width:1023px){
	.soft												{padding:0 35px; height:60px;}
	.soft_logo a										{background:url('../_img/soft_logo_mo.jpg') no-repeat 0% 50% / contain; width:218px; height:33px; display:block;}
	.soft_inner > nav									{display:none;}
	.soft_inner > .right > .search a					{background:url('../_img/soft-search_mo.jpg') no-repeat 50% / contain; width:20px; height:20px; display:block;}
	.soft_inner > .right p.ham_menu						{margin-left:15px;}
	.soft_inner > .right p.ham_menu a span:nth-child(2)	{width:15px; top:8px;right:0;}
	.soft_inner > .right p.ham_menu a span:nth-child(3)	{width:15px; top:16px;right:0;}
	.soft_inner > .right p.ham_menu a:after				{background:url('../_img/soft-x-mo.png') no-repeat 50% / 20px; width:20px; height:20px;}
	.soft_inner > .right > .search a:after				{background:url('../_img/soft-x-mo.png') no-repeat 0 50% / 18px; width:18px; height:18px;}

	/*검색창*/
	.search-box			{top:60px; padding:40px 30px;}
	.icon-box a			{transform:translate(0%, 65%); left:67%; position:absolute; background:url('../_img/soft-icon-mo.png') no-repeat 50% 50% / contain; width:22px; height:22px; display:block;}
	.mini-box .box input{height:54px; padding:15px 20px;}
	.icon				{height:54px;}

	/*햄버거메뉴*/
	.all-menu:before	{display:none;}
	.site-menu			{display:none;}
	.all-menu p			{display:none;}
	
	/*모바일 메뉴*/
	.mo-top				{width:100%; height: 60px; background:#074f7d; position: fixed; top: 0;}
	.mo-inner > ul		{display:block;}
	.mo-inner ul > li	{max-width: none; line-height:16px;}
	.mo-ham				{padding:0;}
	.mo-inner > ul > li > a:before{display: none;}
	ul.mo-sub				{margin-top: 0; display: ; background:#eee; padding:20px 30px;}
	ul.mo-sub > li			{padding: 6px 0;}
	ul.mo-sub > li > a		{font-size: 15px;}
	.mo-inner > ul > li > a	{font-size: 20px; padding: 20px 30px; width: 100%; position: relative; border-bottom: 1px solid #dfdfdf;}
	.mo-inner > ul > li > a:after{position:absolute; right:30px; top:50%; transform:translateY(-50%); content:''; display:block; background:url('../_img/plus-mo.png') no-repeat 50% / contain; width:20px; height:20px;}
	.mo-inner > ul > li > a.opened:after{background: url('../_img/minor-mo.png') no-repeat 50% / contain; width:20px; height:20px;}
	

	/*모바일 메뉴
	.mo-ham					{width:100%; height:100%; background:#fff; padding:0 35px; position:relative; top:6%; display:block;}
	.mo-ham ul				{width:100%;}
	.mo-ham > ul > li		{background:#eee; margin-bottom:15px; padding: 18px 20px; border-radius:10px;}
	.mo-ham > ul > li > a	{font-size:19px; font-weight:600; color:#333;position:relative; display:block;}
	.mo-sub					{padding:15px 0 0; display:none;}
	.mo-sub > li			{padding:6px 0;}
	.mo-sub > li > a		{font-size:17px; color:#666; font-weight:400; transition:0.3s;}
	.mo-sub > li > a:hover	{color:#2fbcd6; font-weight:600;}
	.mo-ham > ul > li > a:after	{position:absolute; right:0; top:50%; transform:translateY(-50%); content:''; display:block; background:url('../_img/plus-mo.png') no-repeat 50% / contain; width:20px; height:20px;}
	.mo-ham > ul > li > a.opened:after {background: url('../_img/minor-mo.png') no-repeat 50% / contain; width:20px; height:20px;}
	*/
}


@media only screen and (max-width:639px){
	.soft												{padding:0 18px; height:50px;}
	.soft_inner > nav									{display:none;}
	.soft_logo a										{background:url('../_img/soft_logo_mo.jpg') no-repeat 0 50% / contain; width:178px; height:25px; display:block;}
	.soft_inner > .right > .search a					{background:url('../_img/soft-search_mo.jpg') no-repeat 50% 50% / contain; display:block; width:20px; height:20px;}
	.soft_inner > .right p.ham_menu						{margin-left:10px; width: 22px; height:18px;}
	.soft_inner > .right p.ham_menu a span				{width:100%;background:#222; position:absolute;}
	.soft_inner > .right p.ham_menu a span:nth-child(2)	{width:12px; top:7px;right:0;}
	.soft_inner > .right p.ham_menu a span:nth-child(3)	{width:12px; top:14px;right:0;}
	.soft_inner > .right p.ham_menu a:after				{background:url('../_img/soft-x-mo.png') no-repeat 50% / contain; width:18px; height:18px;}
	.soft_inner > .right > .search a:after				{background:url('../_img/soft-x-mo.png') no-repeat 0 50% / 16px; width:16px; height:16px;}

	/*검색창*/
	.mini-box p.tt					{font-size:40px; margin-bottom:30px;}
	.search-box						{top:50px; padding:40px 30px;}
	.mini-box .box input			{height:45px; font-size:14px; font-weight:400; padding:12px 20px;}
	.mini-box .box input::placeholder{font-size:14px; font-weight:400;}
	.icon							{width:50px; height:45px;}
	.icon-box a						{background:url('../_img/soft-icon.png') no-repeat 50% 50% / 18px; width:18px; height:18px; left:48%; transform:translate(0%, 70%);}
	

	/*햄버거메뉴*/
	.all-menu:before	{display:none;}
	.site-menu			{display:none;}
	.all-menu p			{display:none;}

	/*모바일 메뉴*/
	.mo-ham						{display:block; padding:0 18px; top:7%;}
	.mo-ham > ul > li > a		{font-size:16px;}
	.mo-ham > ul > li			{padding:14px 20px;}
	.mo-sub > li > a			{font-size:15px;}
	.mo-sub > li				{padding:3px 0;}
	.mo-ham > ul > li > a:after	{background:url('../_img/plus-mo.png') no-repeat 50% / 18px; width:18px; height:18px;}
}